{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{deps,
 [
  {lager, "2.0.*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
  {pooler, ".*", {git, "https://github.com/seth/pooler.git", {tag, master}}},
  {mdns_client, ".*", {git, "https://github.com/Licenser/erlang-mdns-client.git", {branch, "master"}}}
 ]}.
